/*** VARIABLE ***/
:root {
  /**COLOR**/
  --main-p-color: #F2F2F2;
  --main-title-color: #D92332;
  --main-link-color: #D9777F;
  --main-other-color:#5e1e23;
  --other-color: #262526;
  /**FONT**/
  --main-font-p: 'Ubuntu', sans-serif;
  --main-font-title: 'Roboto', sans-serif;
}

/***BUTTON GENERAL***/
.button-custom{
  border-radius: 10px;
  background-color: var(--main-other-color);
  width: 10em;
  color: var(--main-p-color);
  text-align: center;
  align-self: center;
}

.button-custom:hover{
  background-color: var(--main-p-color);
  color: var(--main-other-color);
  font-weight: bold;
  transition: 0.5s ease-in;
}

/*** BODY GENERAL ***/
body {
  font-family: var(--main-font-title);
  background-image: url('../assets/bgVoiture.jpg');
  background-position-x: 50%;
  background-position-y: 0%;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--main-link-color);
  font-weight: bold;
}

.backg-opacity{
  background-color: rgba(0, 0, 0, 0.6);
}

/*** HEADER ***/
nav img{
  border-radius: 10px;
  width: 10em;
}

/*** SECTION INDEX ***/
.section__div {
  color: var(--main-p-color);
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

section h1, h2{
  color: var(--main-title-color);
  font-family: var(--main-font-title);
}

.section_para{
  font-family: var(--main-font-p);
  line-height: 1.5em;
  font-size: 1.1em;
}

.section__service__p {
  margin-top: 1em;
  font-family: var(--main-font-p);
}

.section__service__img{
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/*** OCCASION.PHP ***/
.title-occasion{
  color: var(--main-title-color);
  font-family: var(--main-font-title);
  margin-top: 1em;
}

/*** CARROUSEL INDEX ***/
.carrousel{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

/*** SECTION CARD ***/
.section__card__decoration{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}



/*** FOOTER ***/
.footer{
  margin: auto;
  flex-grow: 1;
}

.footer h6{
  text-align: center;
  text-decoration: underline;
  color: var(--main-title-color);
  font-family: var(--main-font-title);
}

footer li{
  font-size: 0.8em;
  font-family: var(--main-font-p);
  color: var(--main-p-color);
}

/*** MEDIA QUERY ***/
@media screen and (min-width: 700px) {
  .section_para{
    font-size: 1.6em;
  }

  li{
    font-size: 1.1em;
  }
}

@media screen and (min-width: 992px){
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .carrousel{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section__card__decoration{
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px){
  .flux {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

}