/**** FLUX ***/
.flux {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*** VARIABLE ***/
:root {
  --main-p-color: #F2F2F2;
  --main-title-color: #D92332:
}

/*** BODY ***/
body {
    font-family: 'Roboto', sans-serif;
    background-image: url("/assets/bgVoiture.jpg");
}


/*** SECTION ***/
.section {
  color: var(--main-p-color);
}

/** FOOTER ***/



