    <footer class="flux footer backg-opacity">
        
        <div>
            <h6>Horaires d'ouverture</h6>
            <li>
                <ol>lun - ven. : 08:45 - 12:00, 14:00 - 18:00</ol>
                <ol>sam. : 08:45 - 12:00</ol>
                <ol>dim. : Fermé</ol>
            </li>
        </div>

        <div>
            <h6>Nous contacter</h6>
            <li>
                <ul>Téléphone : <a href="tel: 0606060606">0606060606</a></p></ul>
                <ul>Adresse : Toulouse</ul>
                <ul><a href="mailto:Vincent@parrot.com">Vincent@parrot.com</a></ul>
                <ul><a href="#">Formulaire</a></ul>
            </li> 
        </div>

        <div>
            <h6>Autres liens</h6>
            <li>
                <ul><a href="#">Condictions général d'utilisation</a></ul>
                <ul><a href="#">Services</a></ul>
                <ul><a href="#">Véhicules occasions</a></ul>
                <ul><a href="#">Contact</a></ul>
                <ul><a href="#">Avis</a></ul>
                <ul>&copy; Vincent Parrot</ul>

            </li>
        </div>
        

    </footer>
</div

<script src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>