    <footer class="footer">
        <div  class="form">
            <form action="" method="post">

                <label for="field-firstname"><input name="firstname" id="field-firstname" placeholder="Nom"></label>

                <label for="field-lastname"><input name="lastname" id="field-lastname" placeholder="Prénom"></label>

                <label for="field-email"><input name="email" id="field-email" placeholder="Email"></label>
                
                <label for="field-number-phone"><input name="phone" id="field-number-phone" placeholder="Téléphone"></label>

                <label for="field-message"><textarea name="message" id="field-message" placeholder="Message"></textarea></label>

                <input type="submit" value="Envoyer">

                <input type="checkbox" name="accept" id=""><label for="accept">J'accepte que les données soient stockées et traitées dans le but de la prise de contact. Je sais que je peux révoquer mon consentement à tout moment.</label>
            </form>
        </div>

        <div>
            <h6>Horaires d'ouverture</h6>
            <li>
                <ol>lun - ven. : 08:45 - 12:00, 14:00 - 18:00</ol>
                <ol>sam. : 08:45 - 12:00</ol>
                <ol>dim. : Fermé</ol>
            </li>
        </div>
        

    </footer>
</div

<script src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>